{% assign entries = include.entries | default: site[include.collection] | where_exp: "post", "post.hidden != true" %}

{% if include.sort_by %}
  {% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% if include.sort_order == 'reverse' %}
  {% assign entries = entries | reverse %}
{% endif %}

{%- for post in entries -%}
  {% assign excluded_categories = "点点滴滴" | split: "," %}
    {% assign include_post = true %}
    {% for cat in post.categories %}
      {% if excluded_categories contains cat %}
        {% assign include_post = false %}
        {% break %}
      {% endif %}
    {% endfor %}

  {% if include_post %}
    {% include archive-single.html type=include.type %}
  {% endif %}
{%- endfor -%}
